.first {
    
}
.paralax {
    height: 400px;
}
.second-row {
    /*margin-top: 100px;*/
}
.products {
    margin-top: 30px;
}
.blockquote {
    background: rgba(255, 255, 255, 0.1);
}
.side-bar {
    /*background: rgba(240,5,5,0.5);*/
    background:rgb(255,255,255,0.2);
    width: 200px;
    padding: 10px;
    margin-bottom: 100px;
    display: inline-flex;
    
   
}
.side-elements {
   
  
    height: 50px;
    width: 200px;
    margin-top: 10px;
    padding: 6px;
    border-radius: 5px;
    
   
    
}
.row1 {
  
}
.home-image {
    height: 300px;
}
.side-group {
    background:rgb(255,255,255,0.2);
    
}
.background {
    /*background-image: url(assets\img\chain.jpg);*/
}
.tales {
    
    height: 500px;
   
}
.plans-card {
    width: 200px;
    height: 250px;
    /*background:rgb(255,255,255,0.2);*/
    
    border-radius: 5px;
    background-color: black;
    padding: 10px;
    border-left: 10px solid #9a7801;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    margin: 0 auto;

}
.second-card {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.plans {
    border-radius: 7px;
    padding-top: 20px;
    height: 900px;
    
}
.second {

    margin-top: 40px;
    margin-bottom: 50px;
    

}
.login {
    /*border: #050124 solid 10px;*/
}
.policy {
    background: -webkit-linear-gradient(#9a7801,#9a7801,#050124);
}
.plans-icon {
   
    margin-bottom: 40px;
    
}
.plans-text {
    text-align: center;
    margin-bottom: 30px;
}
.converter {
    margin-top: 100px;
    
}
.converter-body {
    height: 500px;;
    background-color: #9a7801;
    margin-top: 50px;
    border-radius: 5px;
}
.input {
    border: none;
    border-bottom: 1px rgba(0,0,0,0.2)  solid;
   
    margin-left: auto;
}
::placeholder {
    color: grey;
    font-size: 15px;
}
.reg-name-icon {
    margin-left:-30px;
    margin-top: -2px;
}
.last-name {
    margin-left:49px ;
    margin-top: 40px;
}

.password-input {
    margin-left: 45px;
}
.password-icon {
    
}
.reg-mail-icon {
    margin-left: -29px;
    margin-bottom: -51px;
    
}
.mail-input {
   margin-left: 45px;
}
.row {
    margin-bottom: 10px;
    margin-top: 40px;
}
.mail {
    width: 190px;
}
.password-icon {
   display: flex;
   align-items: center;
   flex-direction: column;
}
.password-main {
    margin-bottom:40px ;
}
.privacy-row {
   margin-top: -40px;
}
.phone-icon {
    margin-left: -30px;
}
.policy-agreement {
    font-size: 15px;
}
.reg-username {
    margin-left: 45px;
    margin-top: 30px;
}
.active-users {
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.active-users-body {
    
}
.active-talk {
    text-align: center;
    font-size: 20px;
    
}
.active-values {
 margin-top: 20px;
 
 font-size: 40px;
 
 font-family: monospace;
 color:#eff59a;
 text-align: center;
}
.active-user-row {
 
}
.active-worth {
    text-align: center;
    font-size: 33px;    
    font-family: monospace;
    
    color:#eff59a;
    margin-top: -20px;
}
.active-worth-talk {
    text-align: center;
    font-size: 20px;
    
}
.password-error {
    margin-bottom: 20px;
}
.logo {
    height: 90px;
    width: 200px;
    margin-top: -200px;
   margin-left: -10px;
}
.slider {
    height: 290px;
    

}
.plans-col {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.plans-co {
    margin-left: 20px;
    margin-top:-20px;
    
}
.product-logo {
    height:200px;
    width: 200px;
    color:#9a7801 ;
}
.product-grid{
    
    border-radius: 20px;
    margin-top: 70px;
}
.product-card {
    border: #9a7801 solid 5px;
    margin:10px;
}
.active-icon {
 display: flex;
 text-align: center;
 color: white;
 flex-direction: column;
 align-items: center;
 margin-left: 60px;
 
 margin-top:-10px;
 margin-bottom: -10px;
}
.plus-icon {
    
}
.product-modal {
    margin-bottom: 330px;
    height: 130px;
    background-color: #9a7801;
}
.modal-content {
    border:red 5px solid;
    color:#9a7801;
    background-color: #9a7801;
}  
.writing {
    background-image: url('../assets/img/writing.jpg');
    background-color: rgba(0,0,0,0.5);
    
    background-repeat: no-repeat;
    background-size: cover ;
    position:relative;
    z-index:1;
    font-size:25px;
    color:white;
    height: 200px;
}
.stack {
    background-image: url('../assets/img/stack.jpg');
    background-color: rgba(0,0,0,0.5);
    
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    z-index:1;
    font-size:25px;
    color:white;
    height: 200px;
}
.holding {
    background-image: url('../assets/img/holdcoin.jpg');
    background-color: rgba(0,0,0,0.5);
    
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    z-index:1;
    font-size:25px;
    color:white;
    height: 200px;
}
.save {
    background-image: url('../assets/img/save2.jpg');
    background-color: rgba(0,0,0,0.5);
    
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    z-index:1;
    font-size:25px;
    color:white;
    height: 200px;
}
.loan {
    background-image: url('../assets/img/loan.jpg');
    background-color: rgba(0,0,0,0.5);
    
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    z-index:1;
    font-size:25px;
    color:white;
    height: 200px;
}
.overlay {
    position:absolute;
    top:0;right:0;left:0;bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index:0;
}
.login-name-icon {
    margin-left: -20px;
}
.balance {
    background:linear-gradient(#9a7801 50%,#9a7801 40%,#050124);
    height: 90px;
    border-radius: 5px;
    
   

}
.profile-card {
    width:800px;
    height: 700px;
}
.wallet-icon {
    margin-bottom: -150px;

}
.balance-figure {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:-35px;
    margin-left: -50px;
    color: white;
    font-size: 25px;

    
}
.balance-value {
    margin-left: 30px;
    font-size: 30px;
    color: white;
}






@media all and (min-width:800px){
    .talk {
        font-size: 20px;
    }
    .plans-card {
        height: 300px;
        
    }
    .login {
        height: 500px;
    }
    .plans {
        height: 500px;
        width: 1500px;
    }
    .title {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .second-row {
       
        
    }
    .transparent-container {
        
        margin-top: 10px;
        border-radius: 10px;
        box-shadow: 5px -5px 10px 0px slateblue;    
    }

    .home-image {
        height: 400px;
    }

    .side-bar {
    /*background: rgba(240,5,5,0.5);*/
    background:rgb(255,255,255,0.2);
    width: 100px;
    text-align: left;
    height: 700px;
    word-spacing: 20px;
    padding: 10px;
    margin-bottom: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 50px; 
    }

    .plans {
       
    }
    .side-group {
        margin-top: 5px;
       
        
    }
    .title {
        font-size: 40px;
    }
    .side-top {
        width: 12px;
        height: 7px;
        background-color: blue;
    }
    .side-elements {
       
        margin-top: 20px;
        height: 50px;
        width: 150px;
        
        
    }
    .second {

    }
    .mini-sections {
      
    }
    .blockquote {
        
    }
    .plans-text {
        
    }
    .tales {
        margin-left: 50px;
        
        align-items: center;
        flex-direction: column;
        height: 350px;
    }
    
    .line {
        height: 20px;
        width: 900px;
        background-color:#050124 ;
        margin-left: 105px;
        border-radius: 10px;
    }
    .line-2 {
        height: 20px;
        width: 600px;
        background-color:#050124 ;
        margin-left: 250px;
        margin-top: 30px;
        border-radius: 10px;
    }
    .line-3 {
        height: 20px;
        width: 300px;
        background-color:#050124 ;
        margin-left: 400px;
        margin-top: 30px;
        border-radius: 10px;
    }
    .second {
        
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    
    }
    .policy {
        margin-inline: 40px;
    }
    .policy-row {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .profile {
        background-color: #050124 ;;
    }
    .content {
        background-color: rgba(255, 255, 255, 0.1);
    }
    .plans-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .second-card {
        margin-top: 0px;
    }
    .third-card {
        margin-top: 0px;
    }
    .register {
        width: 700px;
        height: 800px;
    }
    .mail {
        width: 220px;
    }
    .reg-icons {
        margin-top: 23px;
    }
    .mail-input {
        margin-right: 0px;
    }
    .name-input {
      margin-right: 30px;
      margin-left: -15px;
    }
    .password-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
       margin-top: -20px;
    }
    .password-input {
        margin-left: 40px;
    }
    .license-talk {
      

    }
    .last-name {
        margin-left: 107px;
        margin-top: -21px;
    }
    .reg-name-icon {
        margin-left: 30px;
    }
    .mail-input {
        margin-left: 0px;
    }
    .reg-mail-icon {
        margin-left: 31px;
        margin-bottom: 0px;
    }
    .mail-input {
        margin-bottom: 20px;
    }
    .password-main {
        margin-left: 30px;
    }
    .password-input {
        margin-left: 80px;
    }
    .get-started {
        margin-top: -10px;
    }
    .phone-icon {
        margin-left: 30px;
    }
    .policy-agreement {
        margin-top: -30px;
        text-align: center;
    }
    .reg-username {
        margin-left: 105px;
    }
    .active-users {
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
        width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        
    }
    .active-users-body {
        margin-top: 100px;
    }
    .active-talk {
        margin-top: -20px;
        font-size: 30px;
        margin-bottom: -50px;
        text-align: center;
        
    }
    .active-values {
      margin-top: -5px;
      
      font-family: monospace;
      font-size: 70px;
      text-align: center;
      font-family: monospace;
    }
    .active-user-row {
        
    }
    .active-worth {
        margin-bottom: -20px;
        font-size: 70px;
        margin-top: 30px;
        
        font-family: monospace;
        text-align: center;
        font-family: monospace;
        
    }
    .active-worth-talk {
        font-size: 30px;
        text-align: center;
       

    }
    .logo {
        height: 150px;
        width: 400px;
        margin-top: -80px;
        margin-left:-100px;
        font-size: 70px;
        margin-bottom: 50px;
       
    }
    
    .product-logo {
        width: 200px;
        height: 200px;
        color: #9a7801;
    }
    .product-grid{
        background: linear-gradient(#050124 40%,#050124 ,#9a7801 );
        border-radius: 20px;
        margin-top: 70px;
        margin-bottom: 50px;
    }
    
    .active-icon {
        margin-left: 130px;
        margin-bottom: 20px;
    }
    .writing {
        background-image: url('../assets/img/writing.jpg');
        background-color: rgba(0,0,0,0.5);
        
        background-repeat: no-repeat;
        background-size: cover ;
        position:relative;
        z-index:1;
        font-size:25px;
        color:white;
        height: 350px;
        width:500px;
    }
    .stack {
        background-image: url('../assets/img/stack.jpg');
        background-color: rgba(0,0,0,0.5);
        
        background-repeat: no-repeat;
        background-size: cover;
        position:relative;
        z-index:1;
        font-size:25px;
        color:white;
        height: 350px;
        width:500px;
    }
    .holding {
        background-image: url('../assets/img/holdcoin.jpg');
        background-color: rgba(0,0,0,0.5);
        
        background-repeat: no-repeat;
        background-size: cover;
        position:relative;
        z-index:1;
        font-size:25px;
        color:white;
        height: 350px;
        width:500px;
    }
    .save {
        background-image: url('../assets/img/save2.jpg');
        background-color: rgba(0,0,0,0.5);
        
        background-repeat: no-repeat;
        background-size: cover;
        position:relative;
        z-index:1;
        font-size:25px;
        color:white;
        height: 350px;
        width:500px;
    }
    .loan {
        background-image: url('../assets/img/loan.jpg');
        background-color: rgba(0,0,0,0.5);
        
        background-repeat: no-repeat;
        background-size: cover;
        position:relative;
        z-index:1;
        font-size:25px;
        color:white;
        height: 350px;
        width:500px;
    }
    .slider {
        width: 700px;
        margin-bottom: 200px;
        
    }
    .gold-card {
        height: 300px;
        background-color: #9a7801;
        border-radius: 15px;
        color: white;
    }
    .login-name-icon {
        margin-left: -20px;
        margin-top: -5px;
    }
    .wallet-icon {
        margin-right: -50px;
    
    }
    .login {
        height: 600px;
    }
    
    
    

}




